button {
    margin: 5px;
    #float-right {
        float: right;
    }
}

.btn-warning {
    color: white!important;
    background-color: rgb(230, 168, 53);
}

.card {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
}

#font-title {
    font-family: 'Lobster', cursive;
}