/* Header design */
header {
    padding: 10px 0;
    background-color: rgb(68, 68, 68);
    h1 {
        font-size: 60px;
        font-family: 'Lobster', cursive;
        color: white;
    }
}

footer {
    padding-top: 15px;
    color: white;
    background-color: black;
    text-align: center;
}